
<head>
</head>

<body>
<h1><center><font face="Georgia"><font color="black">I need blood!</font></font></center></h1>



<font color="black"><font face="Georgia"><%= render 'form' %></font></font>


</body>
