<head>
<style>
body { background-color : #FFCCE6;}
</style>
</head>
<body>
<h2><center><em><font face="Georgia"><font size="7"><u>About Us</u></font></font></em></center></h2>
<center><img src="/lifesharelogo.jpg" class="img-circle"></center><br/><br/>
<style>
body { background-color : #FFCCE6;}
</style><div class="container">
    <div class="row">
      <div class="span5"></div>
      <div class="span9">
        <p><pre><em><font face="Georgia"> <font size="4"><b><font size="5">Life Share</font></b> is one major technological intervention in the medical field whose main objective is to do a location based <br/>search of blood donors in the times of emergency, and thus save time and ‘Life’.This Location based web application<br/> connects genuine willing donors, known or unknown to the needy, within the vicinity of any hospital where the need has<br/> arisen within the time bound.<b >Life Share </b>is readily scalable, efficient and adaptable to meet the complex need of <br/>unavailability of blood.Hence the life at threat can be saved by this optimization technique.</em></font></font></pre></p>
      </div>
    </div>
  </div>
  </body>